[submodule "JanusEngine/vendor/spdlog"]
	path = JanusEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "JanusEngine/vendor/GLFW"]
	path = JanusEngine/vendor/GLFW
	url = https://github.com/thomas-seguin/glfw
[submodule "JanusEngine/vendor/imgui"]
	path = JanusEngine/vendor/imgui
	url = https://github.com/thomas-seguin/imgui
[submodule "JanusEngine/vendor/glm"]
	path = JanusEngine/vendor/glm
	url = https://github.com/g-truc/glm
